In [5]:
fruit = ["apple", "banana", "coconut", "pear", "prune"]
print(fruit[4])
print(fruit[0])
print(fruit[-3])

prune
apple
coconut

In [7]:
some_prime_list = [2,3,4,7,11,13,17]
print(some_prime_list)

#change the value of 4 in the list
some_prime_list[2] = 5
print(some_prime_list)

[2, 3, 4, 7, 11, 13, 17]
[2, 3, 5, 7, 11, 13, 17]

In [15]:
#list inside list
records = [
    ["Manoj", "Narayana", "Swamy"],
    ["krupanidhi","bellandur", "bangalore"]
]
print(records[0])
print(records[1][2])

['Manoj', 'Narayana', 'Swamy']
bangalore

In [17]:
course_name = "Python Introduction"
print(course_name[1])
print(course_name[-2])

if "Python" in course_name:
    print("Happy Python Programming")

y
o
Happy Python Programming

In [22]:
list1 = [1,2,3]
list2 = [4,5,6,7]
list3 = [list1, list2]
print(list3)

[[1, 2, 3], [4, 5, 6, 7]]

In [53]:
trilogy_num = int(input("Please enter a trilogy number:"))
film_num = int(input("Please enter a film number:"))

star_wars_movies = [  
    ["The Phantom Menace", "Attack of the Clones", "Revenge of the Sith"],  
    ["A New Hope", "The Empire Strikes Back", "Return of the Jedi"],   
    ["The Force Awakens", "The Last Jedi", "The Rise of Skywalker"],
]

if (trilogy_num <= 3) and (film_num <= 3):
    the_movie = star_wars_movies[trilogy_num -1][film_num -1]
    print(the_movie)

Return of the Jedi

The Rise of Skywalker