In [6]:
adress = (360100,"kasavanahalli","sarjapura main road","bangalore")
print(adress)
student = ("Manoj",12345,"Python Programming","manoj@gmail.com",adress)
print(student)
tupl1 = (1234,"Contain lists inside a tuple",[1,2,3,4,5],["a","b","c","d"],"end")
print(tupl1)

(360100, 'kasavanahalli', 'sarjapura main road', 'bangalore')
('Manoj', 12345, 'Python Programming', 'manoj@gmail.com', (360100, 'kasavanahalli', 'sarjapura main road', 'bangalore'))
(1234, 'Contain lists inside a tuple', [1, 2, 3, 4, 5], ['a', 'b', 'c', 'd'], 'end')

In [58]:
tup = (1,2,"a",[1,2,3])
print(tup[2])

c = tup[2]
print(c)

#tup[2] = "b" #can't modify the value of an element inside a tuple

(1, 2, 'a', [1, 2, 3])

In [12]:
newtup = (1,2,3)
print(newtup)

#new tuple can be created with more element, but can't modify the existing elements
newtup = ("a","b","c","d") 
print(newtup)

(1, 2, 3)
('a', 'b', 'c', 'd')

In [15]:
name = input("Enter your name ")
last_name = input("Enter your last name ")
mobile = input("Enter mobile number")
age = input("Enter your Age(integer) ")

employe = (name, last_name, mobile, age)
print(employe)

('manoj', 'narayana', '324', '26')

In [22]:
adress = (360100,"kasavanahalli","sarjapura main road","bangalore")

student = (
    "peter",
    "parker",
    12345,
    "python for begginers",
    "manoj@gmail.com",
    adress
)

print(student[5][2])
print(student[-3])

sarjapura main road
python for begginers

In [44]:
numbers = (1,2,"trois","four","V",6)

print(numbers[2:4])
print(len(numbers))
print(numbers.count(1))
print(numbers.index("V"))

('trois', 'four')
6
1
4

In [45]:
address = (360100,"kasavanahalli","sarjapura main road","bangalore")

for a in address:
    print(a)

360100
kasavanahalli
sarjapura main road
bangalore

In [53]:
l = [1,2,3,"a",4.5]
tupp = tuple(l)
print("This is a tupple, list convereted into tupple",tupp)

l = list(tupp)
print(l)

This is a tupple, list convereted into tupple (1, 2, 3, 'a', 4.5)
[1, 2, 3, 'a', 4.5]

In [61]:
name = input("Please enter the given name of the student:")
surname = input("Please enter the surname of the student:")
field = input("Please enter the filed of study of the student:")

top = (name, surname, field)
print(top)

('Harry', 'Potter', 'BCA')